# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS system files
.DS_Store

# node.js dependencies
node_modules/

# build output
dist/

# environment variables
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local IDE configs
.vscode/
.idea/

# Tailwind's JIT cache
.tailwindcache

#back-up notebooks
__ipynb_checkpoints/
